<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.mohamad.agha.lazr</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>184F3928-FDA4-4EE6-82C7-28F6245A6843</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41DCA73F-4260-434F-B78D-0D0B8A725A60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41DCA73F-4260-434F-B78D-0D0B8A725A60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>667B9BF1-11F9-45FE-8681-61034F55070C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AD9A79C-A9D8-4CE5-BABB-1E7183820BA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>887BCCCD-75BA-4AF9-B097-EFD2E610335B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>142BADBD-81A0-47BF-9D47-717B64AEAB45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA98BAD-69C6-4222-88B5-933AA767FD4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDE83722-E0A9-4F1C-B0FE-0E02DC1C3110</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>524901B4-87B9-47E3-B4A4-3ACB0E37341D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCFBC775-9D0D-4F72-8B35-B649DBC7025E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B0E15F0-1464-4D39-BBDD-83542D0F6E61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CF28DA3-DEF1-4A34-9BC5-DC9492554170</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>636CD83D-FA18-4427-8F85-0A7362A4E7EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>667B9BF1-11F9-45FE-8681-61034F55070C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27EB098B-0B3E-4CAE-843E-8C093B260078</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DADCEDE6-9090-4328-97DB-217C963463A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDE83722-E0A9-4F1C-B0FE-0E02DC1C3110</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AD9A79C-A9D8-4CE5-BABB-1E7183820BA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCFBC775-9D0D-4F72-8B35-B649DBC7025E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B0E15F0-1464-4D39-BBDD-83542D0F6E61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mohamad Agha</string>
	<key>description</key>
	<string>Learn how to connect a keyword to different actions and outputs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fetch order from Lazr</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://lazr.io/order/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>27EB098B-0B3E-4CAE-843E-8C093B260078</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

vartest=`/opt/homebrew/bin/psql -tAqXc "SELECT id FROM ${db}.order where number='$query';" postgresql://${user}:${pass}@${host}:${port}/${db}`

echo $vartest</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>667B9BF1-11F9-45FE-8681-61034F55070C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>foip</string>
				<key>subtext</key>
				<string>Type the order number and you will get the order Id</string>
				<key>text</key>
				<string>Fetch Order Id from prod</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>184F3928-FDA4-4EE6-82C7-28F6245A6843</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>db</key>
					<string>lazr</string>
					<key>host</key>
					<string>lazr-databaseb269d8bb-1oqud8kfhat0.cluster-ro-cu0sm4sx0i2j.us-east-1.rds.amazonaws.com</string>
					<key>pass</key>
					<string>d2W^wdi3ivmsfNWDGzV35POg4RZq=L</string>
					<key>port</key>
					<string>5432</string>
					<key>user</key>
					<string>administrator</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>41DCA73F-4260-434F-B78D-0D0B8A725A60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DADCEDE6-9090-4328-97DB-217C963463A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:5173/order/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6CF28DA3-DEF1-4A34-9BC5-DC9492554170</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>foil</string>
				<key>subtext</key>
				<string>Type the order number and you will get the order Id</string>
				<key>text</key>
				<string>Fetch Order Id from Local</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>524901B4-87B9-47E3-B4A4-3ACB0E37341D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

vartest=`/opt/homebrew/bin/psql -tAqXc "SELECT id FROM ${db}.order where number='$query';" postgresql://${user}:${pass}@${host}:${port}/${db}`

echo $vartest</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B0E15F0-1464-4D39-BBDD-83542D0F6E61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>db</key>
					<string>lazr</string>
					<key>host</key>
					<string>ld1jqvjbkmt0vtg.c3oe37phe3yx.us-east-1.rds.amazonaws.com</string>
					<key>pass</key>
					<string>2iMcm=H=,Frhq.gtABKKt9teftH5QF</string>
					<key>port</key>
					<string>5432</string>
					<key>user</key>
					<string>administrator</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FCFBC775-9D0D-4F72-8B35-B649DBC7025E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>636CD83D-FA18-4427-8F85-0A7362A4E7EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://dev.lazr.io/order/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>887BCCCD-75BA-4AF9-B097-EFD2E610335B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>foid</string>
				<key>subtext</key>
				<string>Type the order number and you will get the order Id</string>
				<key>text</key>
				<string>Fetch Order Id from Dev</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4CA98BAD-69C6-4222-88B5-933AA767FD4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

vartest=`/opt/homebrew/bin/psql -tAqXc "SELECT id FROM ${db}.order where number='$query';" postgresql://${user}:${pass}@${host}:${port}/${db}`

echo $vartest</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4AD9A79C-A9D8-4CE5-BABB-1E7183820BA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>db</key>
					<string>lazr</string>
					<key>host</key>
					<string>ldoehxq4dy37vh.csppo1jfkdbb.us-east-1.rds.amazonaws.com</string>
					<key>pass</key>
					<string>k_htv4U,d=1WRAqqMV0z2v1^7sDbfp</string>
					<key>port</key>
					<string>5432</string>
					<key>user</key>
					<string>administrator</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DDE83722-E0A9-4F1C-B0FE-0E02DC1C3110</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>142BADBD-81A0-47BF-9D47-717B64AEAB45</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

psql --command="SELECT first_naje FROM lazr.user limit 1;" postgresql://administrator:2iMcm=H=,Frhq.gtABKKt9teftH5QF@ld1jqvjbkmt0vtg.c3oe37phe3yx.us-east-1.rds.amazonaws.com:5432/lazr


echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B5D2833-1C5E-4168-870B-B18FF1817051</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>142BADBD-81A0-47BF-9D47-717B64AEAB45</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>184F3928-FDA4-4EE6-82C7-28F6245A6843</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>27EB098B-0B3E-4CAE-843E-8C093B260078</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>41DCA73F-4260-434F-B78D-0D0B8A725A60</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>4AD9A79C-A9D8-4CE5-BABB-1E7183820BA6</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>4CA98BAD-69C6-4222-88B5-933AA767FD4E</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>524901B4-87B9-47E3-B4A4-3ACB0E37341D</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>5B0E15F0-1464-4D39-BBDD-83542D0F6E61</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>636CD83D-FA18-4427-8F85-0A7362A4E7EE</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>667B9BF1-11F9-45FE-8681-61034F55070C</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>6B5D2833-1C5E-4168-870B-B18FF1817051</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>6CF28DA3-DEF1-4A34-9BC5-DC9492554170</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>887BCCCD-75BA-4AF9-B097-EFD2E610335B</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>DADCEDE6-9090-4328-97DB-217C963463A6</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>DDE83722-E0A9-4F1C-B0FE-0E02DC1C3110</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>FCFBC775-9D0D-4F72-8B35-B649DBC7025E</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
